.items {
    height: 800px;
    overflow-y: auto;
}
.done{
   color:orangered;
  
}
.welcome{
    color:seagreen
}
.home{
    
    color:rgb(11, 185, 49);
    font-style: normal;
     
}
.login{
    width: 400px;
    margin-inline: auto;
    background-color: rgba(138, 218, 11, 0.644);
    position: relative;
    top: 150px;
    
}
